Pods/
Podfile.lock
MyDear.xcworkspace/xcshareddata/MyDear.xcscmblueprint
MyDear.xcworkspace/xcuserdata/hc.xcuserdatad/UserInterfaceState.xcuserstate
MyDear.xcworkspace/xcuserdata/hc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MyDear.xcodeproj/project.pbxproj
MyDear.xcodeproj/project.xcworkspace/xcshareddata/MyDear.xcscmblueprint
MyDear.xcodeproj/project.xcworkspace/xcuserdata/hc.xcuserdatad/UserInterfaceState.xcuserstate
MyDear.xcodeproj/xcuserdata/hc.xcuserdatad/xcdebugger/
